---
layout: page
permalink: /
redirect_from: /home/
---


    <!-- Carousel
    ================================================== -->
    <div id="course-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
{% for course in site.data.course-list-eventbrite limit: 4 %}
  {% if course.status == 'active' %}
        <li data-target="#course-carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
  {% endif %}
{% endfor %}
      </ol>

      <div class="carousel-inner" role="listbox">
{% for course in site.data.course-list-eventbrite limit: 4 %}
  {% if course.status == 'active' %}
        <div class="item {% if forloop.first %}active{% endif %}">
          <div class="container">
            <div class="carousel-caption">
              <h1><code>Learn To Code</code> with {{ course.title }}</h1>
              <p style="background-color: rgba(0,0,0,0.3);">{{ course.headline }}</p>
              <p><a class="btn btn-lg btn-primary" href="{{ course.url }}" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
  {% endif %}
{% else %}
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Learn to Code <code>iOS</code></h1>
              <p>With courses in Objective C and Swift, Awesome Inc U can get you there.</p>
              <p><a class="btn btn-lg btn-primary" href="/register/" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
{% endfor %}
        
        </div>
      </div>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Headline text -->
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h2>Growing World-Class Software Development Talent</h2>
          <p>Software is all around us. Awesome Inc U exists to help people learn to code and unlock the power to create their own Mobile Apps, Websites, and Video Games. Start your journey with our classes in downtown Lexington, no prior programming experience necessary. Come join the hundreds of kids and adults who are learning to harness the power of software.</p>
        </div>
      </div>

      <hr>

      <!-- Three columns of text below the headline -->
      <div class="row">
        <div class="col-lg-4">
            <a href="/kids/">
          <img class="img-circle" src="/img/Learn-to-Code-Programs-Small.jpg" alt="Students learning to code" width="140" height="140">
            <h2>Kids</h2>
            </a>
          <p>Students age 9 - 17 love making games and apps with us. Turn screen time into career-skill time.</p>
          <p><a class="btn btn-default" href="/kids/" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="/adults/">
          <img class="img-circle" src="/img/Coding-Courses.jpg" alt="Adults learning to code" width="140" height="140">
          <h2>Adults</h2>
            </a>
          <p>If you can write an email, we can help you learn to code. Great for aspiring entrepreneurs and career switchers.</p>
          <p><a class="btn btn-default" href="/adults/" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="/groups/">
          <img class="img-circle" src="/img/Software-Services.jpg" alt="Group learning to code" width="140" height="140">
          <h2>Groups</h2>
            </a>
          <p>Bring the Awesome Inc U team in to train your group or organization.</p>
          <p><a class="btn btn-default" href="/groups/" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Proven Success. <a href="/testimonials"><span class="text-muted">Read more.</span></a></h2>
          <p class="lead">"This was a fantastic course and I'd highly recommend taking it. The Awesome Inc. team kept a seemingly tedious subject fun and interesting with games, jokes and sandbox time. It was a very hands on class and by the end, we had built an actual website from scratch. They're not just blowing smoke -- Awesome Inc. really is awesome!"</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="/img/Awesome-Inc-Academy-Success.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">One Day Classes and Events <br><a href="/register/"><span class="text-muted">Join one now.</span></a></h2>
          <p class="lead">Our classes are attended by students, independent entrepreneurs, and corporate teams. It’s never too early or too late to learn to code. You don’t need to be a genius to learn to code, you just need to be determined. From musicians, to athletes, to billionaire founders of tech companies,<a href="https://www.youtube.com/watch?v=nKIu9yen5nc"> lots of successful people want YOU to learn to code.</a> </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block img-rounded" src="/img/minecraft-party.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Talented Instructors. <br><a href="/instructors"><span class="text-muted">Meet them.</span></a></h2>
          <p class="lead">If we’re looking to create excellent programmers, we want to create them in the image of existing excellent programmers. This is our end goal, so this is where we must start. By having these living, breathing examples, our students will get to interact with their end goal. This makes it tangible: when the student can do what the master can do, he or she has made sufficient progress.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="/img/Awesome-Inc-Academy-Square.jpg" alt="Generic placeholder image">
        </div>
      </div>

</div>
<!-- /END THE FEATURETTES -->