---
layout: page
permalink: /
redirect_from: /home/
press_footer: true
---
<!-- Carousel
================================================== -->
<div id="course-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
      {% assign boot_course = site.data.course-list-bootcamp.last %}
        {% if boot_course.status == 'active' %}
              <li data-target="#course-carousel" data-slide-to="0" class="active"></li>
        {% endif %}
{% for course in site.data.course-list-eventbrite limit: 3 %}
  {% if course.status == 'active' %}
        <li data-target="#course-carousel" data-slide-to="{{ forloop.index }}" ></li>
  {% endif %}
{% endfor %}

      </ol>

      <div class="carousel-inner" role="listbox">
      {% if boot_course.status == 'active' %}
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sin duda, ¡La mejor pasta de Escazú!</h1>
              <p style="background-color: rgba(0,0,0,0.4);">Nos especializamos en lo que mejor sabemos hacer! <i class="fa fa-1x fa-heart"></i></br>Creamos pastas 5 estrellas para tu deleite y amamos saber que te encanta nuestra comida!</p>
              <!--<p><a class="btn btn-lg btn-primary" href="{% if boot_course.curriculum == 'k12-week' %}/weekofcode{% else %}{{ boot_course.url }}{% endif %}" role="button">See Menu</a></p>-->
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Ver Menu</a></p>-->
              <p>
                <a class="btn btn-lg btn-primary thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="La mejor pasta!" data-caption="" data-image="/img/Menu.jpg" data-target="#image-gallery">
                Ver Menú</a>
              </p>
            </div>
          </div>
        </div>
  {% endif %}
{% for course in site.data.course-list-eventbrite limit: 0 %}
  {% if course.status == 'active' %}
        <div class="item ">
          <div class="container">
            <div class="carousel-caption">
              <h1><code>Learn To Code</code> with {{ course.title }}</h1>
              <p style="background-color: rgba(0,0,0,0.3);">{{ course.headline }}</p>
              <p><a class="btn btn-lg btn-primary" href="{% if course.curriculum == 'k12-week' %}/weekofcode{% else %}{{ course.url }}{% endif %}" role="button">Ver más</a></p>
            </div>
          </div>
        </div>
  {% else %}
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Learn to Code <code>iOS</code></h1>
              <p>With courses in Objective C and Swift, We Love Pasta can get you there.</p>
              <p><a class="btn btn-lg btn-primary" href="/register/" role="button">Ver más</a></p>
            </div>
          </div>
        </div>
{% endif %}
{% endfor %}

    </div>
</div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Headline text -->
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h2>Establecido en 2015</h2>
          <p>We Love Pasta llegó para quedarse.</p>
        </div>
      </div>

      <hr>

      <!-- Three columns of text below the headline -->
      <div class="row">
        <h2>¡Viva CR!, ofertas todo setiembre:</h2>
        <div class="col-lg-4">
          <img class="img-circle" src="/img/pasta/WA0014.jpg" alt="" width="140" height="140">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="¡Pollo Parmesano!" data-caption="" data-image="/img/pasta/WA0014.jpg" data-target="#image-gallery">
            <h2>Pollo Parmesano</h2>
            </a>
          <p>₡3900, incluye Pan de Ajo</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="/img/pasta/WA0010.jpg" alt="" width="140" height="140">

              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="¡Pasta con Camarones!" data-caption="" data-image="/img/pasta/WA0010.jpg" data-target="#image-gallery">
          <h2>Pasta con Camarones</h2>
            </a>
          <p>₡4500, incluye Pan de Ajo</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="/img/pasta/WA0011.jpg" alt="" width="140" height="140">

                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="¡Mariscos en salsa bechamel!" data-caption="" data-image="/img/pasta/WA0011.jpg" data-target="#image-gallery">
          <h2>La especialidad: Mariscos en salsa bechamel</h2>
            </a>
          <p>₡5400, incluye Pan de Ajo</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                      <h4 class="modal-title" id="image-gallery-title">We ❤ Pasta</h4>
                  </div>
                  <div class="modal-body">
                      <img id="image-gallery-image" class="img-responsive" src="">
                  </div>
              </div>
          </div>
      </div>

      <!-- START THE FEATURETTES

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Proven Success. <a href="/testimonials"><span class="text-muted">Read more.</span></a></h2>
          <p class="lead"> Since 2013, over 800 people have learned to code with us. Here's what they have to say:</p>
          <p class="lead">"This was a fantastic course and I'd highly recommend taking it. The We Love Pasta team kept a seemingly tedious subject fun and interesting with games, jokes and sandbox time. It was a very hands on class and by the end, we had built an actual website from scratch. They're not just blowing smoke -- We Love Pasta really is awesome!"</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="/img/Awesome-Inc-Academy-Success.jpg" alt="Students learning to code">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Talented Instructors. <br><a href="/instructors"><span class="text-muted">Meet them.</span></a></h2>
          <p class="lead">What's the best way to create a new programmer? Start with an instructional team full of excellent programmers. Our coding coaches are practitioners with a passion for sharing their skills with our students. Their broad set of experiences range from small startups to big corporations, from academia to open-source projects.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block img-rounded" src="/img/coach-feedback.jpg" alt="Coaches giving feedback">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">A Course For Everyone. <br><a href="/register/"><span class="text-muted">Join one now.</span></a></h2>
          <p class="lead">Our classes are attended by students, independent entrepreneurs, and corporate teams. It’s never too early or too late to learn to code. You don’t need to be a genius to learn to code, you just need to be determined. From musicians, to athletes, to billionaire founders of tech companies,<a href="https://www.youtube.com/watch?v=nKIu9yen5nc"> lots of successful people want YOU to learn to code.</a> </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="/img/Awesome-Inc-Academy-Square.jpg" alt="High school students learning to code">
        </div>
      </div>

</div>
 /END THE FEATURETTES -->
