<!DOCTYPE HTML>

<html>
	<head>
		<title>We Love Pasta - Menú</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" href="img/favicon.ico">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		    <div class="container">
		        <div class="navbar-header">
		            <a class="navbar-brand" href="/"><img alt="We Love Pasta" src="/img/Logo_Horizontal_almighty.png"></a>
		        </div>
		        <!--<div id="navbar" class="navbar-collapse collapse navbar-right">
		            <ul class="nav navbar-nav">
		                <li{% if page.path contains 'blog' %} class="active" {% endif %}><a href="/blog/">Blog</a></li>
		                    <li{% if page.path contains 'contact' %} class="active" {% endif %}><a href="/contact/">Contact</a></li>
		            </ul>
		            <ul class="nav nav-pills navbar-nav navbar-right">
		                <li><p class="navbar-btn"><a class="btn btn-default" href="/register/" role="button">Find A Course</a></p></li>
		                <li><p class="navbar-btn"><a class="btn btn-primary" href="/interest/bootcamp/" role="button">Bootcamp</a></p></li>
		            </ul>
		        </div>-->
		    </div>
		</nav>
		<div id="wrapper">

			<div id="main">
				<div id="reel">

					<!-- Header Item -->

						<div id="header" class="item" data-width="400">
							<div class="inner">
								<h1>¡Viva CR!</h1>
							</br>
								<p>Ofertas para celebrar a lo grande, todo setiembre en nuestro menú:</p>
							</div>
						</div>

					<!-- Thumb Items -->

						<article class="item thumb" data-width="309">
							<h2>Pasta con Camarones</h2>
							<a href="img/pasta/WA0010.jpg" class="image"><img src="images/thumbs/01.jpg" alt=""></a>
						</article>

						<article class="item thumb" data-width="387">
							<h2>Pollo Parmesano</h2>
							<a href="img/pasta/WA0014.jpg" class="image"><img src="images/thumbs/02.jpg" alt=""></a>
						</article>

						<article class="item thumb" data-width="316">
							<h2>La especialidad: Mariscos en salsa bechamel</h2>
							<a href="img/pasta/WA0011.jpg" class="image"><img src="images/thumbs/03.jpg" alt=""></a>
						</article>


						<article class="item thumb" data-width="309">
							<h2>Pasta con Camarones</h2>
							<a href="img/pasta/WA0010.jpg" class="image"><img src="images/thumbs/01.jpg" alt=""></a>
						</article>

						<article class="item thumb" data-width="387">
							<h2>Pollo Parmesano</h2>
							<a href="img/pasta/WA0014.jpg" class="image"><img src="images/thumbs/02.jpg" alt=""></a>
						</article>

						<article class="item thumb" data-width="316">
							<h2>La especialidad: Mariscos en salsa bechamel</h2>
							<a href="img/pasta/WA0011.jpg" class="image"><img src="images/thumbs/03.jpg" alt=""></a>
						</article>


						<article class="item thumb" data-width="309">
							<h2>Pasta con Camarones</h2>
							<a href="img/pasta/WA0010.jpg" class="image"><img src="images/thumbs/01.jpg" alt=""></a>
						</article>

						<article class="item thumb" data-width="387">
							<h2>Pollo Parmesano</h2>
							<a href="img/pasta/WA0014.jpg" class="image"><img src="images/thumbs/02.jpg" alt=""></a>
						</article>


						<article class="item thumb" data-width="316">
							<h2>La especialidad: Mariscos en salsa bechamel</h2>
							<a href="img/pasta/WA0011.jpg" class="image"><img src="images/thumbs/03.jpg" alt=""></a>
						</article>


						<article class="item thumb" data-width="309">
							<h2>Pasta con Camarones</h2>
							<a href="img/pasta/WA0010.jpg" class="image"><img src="images/thumbs/01.jpg" alt=""></a>
						</article>

						<article class="item thumb" data-width="387">
							<h2>Pollo Parmesano</h2>
							<a href="img/pasta/WA0014.jpg" class="image"><img src="images/thumbs/02.jpg" alt=""></a>
						</article>
					<!-- Filler Thumb Items (just for demonstration purposes)
						<article class="item thumb" data-width="476"><h2>Kingdom of the Wind</h2><a href="images/fulls/05.jpg" class="image"><img src="images/thumbs/05.jpg" alt=""></a></article>
						<article class="item thumb" data-width="232"><h2>The Pursuit</h2><a href="images/fulls/06.jpg" class="image"><img src="images/thumbs/06.jpg" alt=""></a></article>
						<article class="item thumb" data-width="352"><h2>Boundless</h2><a href="images/fulls/07.jpg" class="image"><img src="images/thumbs/07.jpg" alt=""></a></article>
						<article class="item thumb" data-width="348"><h2>The Spectators</h2><a href="images/fulls/08.jpg" class="image"><img src="images/thumbs/08.jpg" alt=""></a></article>
						<article class="item thumb" data-width="282"><h2>You really got me</h2><a href="images/fulls/01.jpg" class="image"><img src="images/thumbs/01.jpg" alt=""></a></article>
						<article class="item thumb" data-width="384"><h2>Ad Infinitum</h2><a href="images/fulls/02.jpg" class="image"><img src="images/thumbs/02.jpg" alt=""></a></article>
						<article class="item thumb" data-width="274"><h2>Different.</h2><a href="images/fulls/03.jpg" class="image"><img src="images/thumbs/03.jpg" alt=""></a></article>
						<article class="item thumb" data-width="282"><h2>Elysium</h2><a href="images/fulls/04.jpg" class="image"><img src="images/thumbs/04.jpg" alt=""></a></article>
 -->
				</div>
			</div>

			<div id="footer">
				<div class="left">
				</div>
				<div class="right">
					<ul class="contact">
						<li><a href="https://www.instagram.com/welovepastacr/" class="icon fa-instagram"><span class="label">IG</span></a></li>
						<li><a href="https://www.facebook.com/welovepastacr/" class="icon fa-facebook"><span class="label">FB</span></a></li>
						<li><a href="#" class="icon fa-whatsapp"><span class="label">WhatsApp: 8950-7697</span></a></li>
						<li><a href="#" class="icon fa-mobile"><span class="label">Mobile: 289-9603</span></a></li>
					</ul>
					<ul class="copyright">
						<div class="row">
		            <div class="col-lg-12">
		                <ul class="nav nav-pills nav-justified">
		                    <li><a href="https://www.google.es/maps/place/We+Love+Pasta/@9.9375924,-84.1545201,17z">400m sur de la rotonda de Multiplaza, cruce calle Guachipelin 310, frente al nuevo Skatepark</a></li>
		                    <li><a href="http://www.welovepasta.cr"  target="_blank">© 2016 We ❤ Pasta</a></li>
		                </ul>
		            </div>
		        </div>
					</ul>
				</div>
			</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
