<table class="table table-striped">
			    <tr><th>Date/Time</th><th>Course</th><th>Price</th><th>Availability</th></tr>
			    
			    {% comment %} 
			    To make changes to course date/time/price or active state, see _data/course-list.yml
			    {% endcomment %}

				
				{% for course in site.data.course-list-eventbrite %}
				{% if course.status == 'active' %}
				
					<tr><td><a href="{{ course.url }}"><img src="/img/logos/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;{{ course.date }}, {{ course.time }}</td><td><a href="{{ course.url }}">{{ course.title }} {% if course.age_range %}(age: {{ course.age_range }}){% endif %}</a></td><td> 
					{% if course.student-price %} 
						${{ course.student-price }} (students), 
					{% endif %}  
					{% if course.early-bird-price %}
						${{ course.early-bird-price }} (early bird 
					{% endif %}
					{% if course.early-bird-date %}
						- ends {{ course.early-bird-date }}), 
					{% endif %} 
					${{ course.standard-price }} (standard)</td><td><center><a class="btn btn-primary btn-large" href="{{ course.url }}" target="_blank">Register</a></center></td></tr>
				
				{% endif %}
				{% endfor %}		

				{% for course in site.data.course-list-udemy %}
				{% if course.status == 'online' %}
				
				<tr><td><a href="{{ course.url }}"><img src="/img/logos/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;Online Course</td><td><a href="{{ course.url }}">{{ course.title }}</a>, via Udemy</td><td><del>${{ course.standard-price }} (standard)</del>, ${{course.early-bird-price}} (special discount)</td><td><center><a class="btn btn-success btn-large" href="{{ course.url }}" target="_blank">Start Now</a></center></td></tr>
				
				{% endif %}
				{% endfor %}

				{% for course in site.data.course-list-other %}
				{% if course.status == 'on-location' %}
				
				<tr><td><a href="{{ course.url }}"><img src="/img/logos/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;On-Location</td><td><a href="{{ course.url }}">{{ course.title }}</a></td><td>{{ course.standard-price }}</td><td><center><a class="btn btn-info btn-large" href="{{ course.url }}">Get Info</a></center></td></tr>
				
				{% endif %}
				{% endfor %}
</table>

<hr>

<h1>Past Courses</h1>

<table class="table table-striped">
	  
			    <tr><th>Date/Time</th><th>Course</th></tr>

				{% for course in site.data.course-list-eventbrite %}
				{% if course.status == 'inactive' and course.curriculum != 'club' %}

				<tr><td><a href="{{ course.url }}"><img src="/img/logos/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;TBD</td><td>{{ course.title }}</td></tr>

				{% endif %}
				{% endfor %}
</table>