---
layout: page
---
    <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="bg-image" style="background-image: url({{page.cover}});"></div>
    <div class="jumbotron " >
      <div class="container center">
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
          {% if page.dates %}
            {% for date in page.dates %}
               <p><a class="btn btn-primary btn-lg" href={{date[1]}} role="button" > Register {{date[0]}} &raquo;</a></p>
            {% endfor %}
          {% else %}
            <p><a class="btn btn-primary btn-lg" 
            {% if page.registration %}
              href="{{page.registration}}" target="_blank" role="button"> Register
            {% else %}
              href="{{page.application}}" role="button">Apply Now
            {% endif %}
              &raquo;</a></p>
          {% endif %}
      </div> 
</div>
        <div class="container scrollup">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          {{content}}
        
          <p><a class=""
          {% if page.dates %}
            {% for date in page.dates %}
               <p><a class="btn btn-primary btn-lg center-block" href={{date[1]}} role="button" > Register {{date[0]}} &raquo;</a></p>
            {% endfor %}
          {% else %}
            <p><a class="btn btn-primary btn-lg center-block" 
            {% if page.registration %}
              href="{{page.registration}}" target="_blank" role="button"> Register
            {% else %}
              href="{{page.application}}" role="button">Apply Now
            {% endif %}
              &raquo;</a></p>
          {% endif %}
        </div>
      </div>
 </div>