---
layout: page
---

   <div>
    
    	<div class="container">
    		
  			<div class="row head1">
    			<div class="col-md-12" >
    				<h2>{{ page.title }} <a class="btn btn-primary" href="/register/" role="button">Register</a></h2>
    			</div>
          <div class="col-md-12" >
            <p>These are the notes for Awesome Inc U's <a href="/courses/#{{ page.course_link }}">{{ page.title }}</a>.</p>
          </div>
      	</div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          {{ content }}
          </div> 
        </div>       

    	</div> <!-- /container -->
    
    </div> <!-- /about -->