---
layout: page
---
    <!-- Main jumbotron for a primary marketing message or call to action -->
<!--    <div class="bg-image"></div>-->
    <div class="jumbotron " style="background-image: url({{page.cover}}); background-size: cover; background: no-repeat center center cover;">
      <div class="container center">
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
        <p><a class="btn btn-primary btn-lg" href={{page.application}} role="button">Apply Now &raquo;</a></p>
      </div> 
</div>
        <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-7 center-block blog-main blog-post">
          {{content}}
            
            
          <p><a class="btn btn-lg btn-info center-block" href="{{page.application}}" role="button">Start Application &raquo;</a></p>
        </div>
      </div>
        </div>
      <hr>

